
<app-calc></app-calc>  
<div class="container">
  <div class="row">
    <button type="button" class="btn btn-primary" (click)=addition()>Addition</button>
    <button type="button" class="btn btn-primary" (click)=substraction()>Substraction</button>
    <button type="button" class="btn btn-primary" (click)=multiplication()>Multiplication</button>
    <button type="button" class="btn btn-primary" (click)=division()>Division</button>
    <button type="button" class="btn btn-danger" (click)=resetall()>Reset</button>
  </div>
</div><br>
